body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(#78d5ff, #0081e8);
}

.loader {
    position: relative;
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: perspective(500px) rotateX(135deg);
}

.loader span {
    position: absolute;
    display: block;
    border: 15px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 10px 0 #e0e0e0, inset 0 10px 0 #e0e0e0;
    animation: animate 9s ease-in-out infinite;
}

@keyframes animate {
    0% {
        transform: translateZ(-100px);
        width: 100%;
        height: 100%;
    }
    25% {
        transform: translateZ(100px);
        width: 100%;
        height: 100%;
    }
    50% {
        transform: translateZ(100px);
        width: 35%;
        height: 35%;
    }
    75% {
        transform: translateZ(-100px);
        width: 35%;
        height: 35%;
    }
    100% {
        transform: translateZ(-100px);
        width: 100%;
        height: 100%;
    }
}

.loader span:nth-child(1) {
    animation-delay: 0s;
}

.loader span:nth-child(2) {
    animation-delay: -1.5s;
}

.loader span:nth-child(3) {
    animation-delay: -3.0s;
}

.loader span:nth-child(4) {
    animation-delay: -4.5s;
}

.loader span:nth-child(5) {
    animation-delay: -6.0s;
}

.loader span:nth-child(6) {
    animation-delay: -7.5s;
}